@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 550px;
  text-align: center;
  margin: 3rem auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  border-radius: 5px;
  padding: 1.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.2rem;
  margin: 1.2rem 0;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: inherit;
};

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98)
}